*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #3D087B;
}



.span-1{
    margin-left: 8%;
    padding: 20px;
}

.span-1 img {
    width: 250px;
}




.span-2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 5vh;
    
}

.box-1{
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    background-color: aliceblue;
    gap: 50px;
    width: 40%;
    height: 500px;
}



.setBox1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:40px
}

.setBox1 img {
    width: 5vh;
    height: 5vh;
}



.setBox2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.setBox2 p {
    font-size: 24px;
}

.setBox3{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    
    width: 48%;
}

.setBox3 select {
    position: absolute;
    width: 90%;
    height: 4vh;
}





/* span -2  */



.box-2{
    width: 40%;
    height: 350px;
    position: relative;
    bottom: 90px;
}

.ckl1 {
    width: 95%;
    height: 12vh;
    background-color: aliceblue;
    position: absolute;
    border-radius: 10px;
    opacity: 1;
    z-index: 5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}



.ckl1 p {
    color: #3D087B;
    font-size: 24px;
}

.clock-adj{
    display: flex;
    justify-content: center;
    font-size: 34px;
    position: absolute;
    top: 38px;
    padding: 0px;
    margin-left: 16px;
    font-weight: bold;
    color: #8A11BF;
}

.clock-name{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 95px;
    font-size: 26px;
    margin-left: 10px;
    font-weight: bold;
    color: #8A11BF;
}

.ckl2 {
    width: 80%;
    height: 12vh;
    background-color: aliceblue;
    position: absolute;
    left: 60px;
    top: 57px;
    border-radius: 10px;
    opacity: 0.71;
    /* width: 379vh */
    z-index: 4;
}

.ckl3 {
    width: 70%;
    height: 12vh;
    background-color: aliceblue;
    position: absolute;
    left: 90px;
    top: 73px;
    border-radius: 10px;
    opacity: 0.22;
    z-index: 3;
}

.ckl4 {
    width: 98%;
    height: 12vh;
    background-color: aliceblue;
    position: absolute;
    /* left: 60px; */
    top: 220px;
    border-radius: 10px;
    opacity: 1;
}

.text-1 {
    display: flex;
    color: #8E53F0; 
    justify-content: center;
    text-align: left;
    align-items: center;
    padding-left: 20px;
    font-size: 34px;
    font-family: 'Baumans', cursive;
    opacity: 1;
    font-weight: bold;
    /* position */
    position: relative;
    bottom: 200px;
}


/* span - 3 */


.span-3{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 5vh;
}

.box-a{
    width: 40%;
    height: 30vh;
    position: relative;
    top: 15px;
}


/* text updation acording to set alarm */

.text1{
    display: flex;
    width: 99%;
    height: 12vh;
    background-color: #9140B5;
    border-radius: 10px;
    border: 1px solid #EDEDED;
        
}

#msg {
    display: flex;
    justify-content: center;
        color: white;
        text-align: left;
        align-items: center;
        padding-left: 20px;
        font-size: 38px;
        font-family: 'Baumans', cursive;
        font-weight: bold;
}


/* Button box  */

.button{
    display: flex;
    border-radius: 4px;
    width: 48%;
    height: 10vh;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
    position: relative;
    top: 16px;
    color: whitesmoke;
}

.button:hover .hover-text {
    display: inline;
}

.button:hover .default-text {
    display: none;
}

.button .hover-text {
    display: none;
}


/* updation text in box  */

.Updation{
    width: 50%;
    height: 16vh;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    background-color: #9140B5;
    color: #F25CFE;
    /* opacity: 0.23; */
    position: relative;
    top: 10px;
    left: 10px;
}

.upText {
    position: relative;
    left: 25px;
    top: 30px;
    /* color: #F25CFE; */
    font-size: 18px;
    opacity: 1;
}

.align{
    display: flex;
}
  
  /* Image box  */

.box-b{
    width: 40%;
    height: 45vh;
    position: relative;
    bottom: 212px;
}

.box-b img {
    position: absolute;
    width: 100%;
    height: 100%;
}
  
  /* media query */

  @media screen and (max-width:1023px) and (min-width:768px){
    .span-1{
        margin-left: 8%;
        padding: 20px;
    }
    
    .span-1 img {
        width: 250px;
    }
    
    
    
    
    .span-2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        
    }
    
    .box-1{
        display: flex;
        border-radius: 10px;
        flex-direction: row;
        background-color: aliceblue;
        gap: 50px;
        width: 90%;
        height: 500px;
        position: relative;
        top: 413px;
    }
    
    
    
    .setBox1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .setBox1 img {
        width: 5vh;
        height: 5vh;
    }

    .img-z{
        width: 100%;
    }
    
    
    
    .setBox2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .setBox2 p {
        font-size: 24px;
    }
    
    .setBox3{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        width: 50%;
    }
    
    .setBox3 select {
        position:absolute;

        width: 90%;
    
        height: 4vh;
    }
    
    
    
    
    
    /* span -2  */
    
    
    
    .box-2{
        width: 90%;
        height: 350px;
        position: absolute;
        top: 116px;
    }
    
    .ckl1 {
        width: 95%;
        height: 120px;
        background-color: aliceblue;
        position: absolute;
        border-radius: 10px;
        opacity: 1;
        z-index: 5;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
    }
    
    
    
    .ckl1 p {
        color: #3D087B;
        font-size: 24px;
    }
    
    .clock-adj{
        display: flex;
        justify-content: center;
        font-size: 28px;
        position: absolute;
        top: 42px;
        padding: 0px;
        margin-left: 16px;
        font-weight: bold;
        color: #8A11BF;
    }
    
    .clock-name{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 88px;
        font-size: 26px;
        margin-left: 10px;
        font-weight: bold;
        color: #8A11BF;
    }
    
    .ckl2 {
        width: 80%;
        height: 12vh;
        background-color: aliceblue;
        position: absolute;
        left: 60px;
        top: 57px;
        border-radius: 10px;
        opacity: 0.71;
        /* width: 379vh */
        z-index: 4;
    }
    
    .ckl3 {
        width: 70%;
        height: 12vh;
        background-color: aliceblue;
        position: absolute;
        left: 90px;
        top: 73px;
        border-radius: 10px;
        opacity: 0.22;
        z-index: 3;
    }
    
    .ckl4 {
        width: 98%;
        height: 140px;
        background-color: aliceblue;
        position: absolute;
        /* left: 60px; */
        top: 254px;
        border-radius: 10px;
        opacity: 1;
    }
    
    .text-1 {
        display: flex;
        color: #8E53F0; 
        justify-content: center;
        text-align: left;
        align-items: center;
        padding-left: 20px;
        font-size: 34px;
        font-family: 'Baumans', cursive;
        opacity: 1;
        font-weight: bold;
        /* position */
        position: relative;
        bottom: 200px;
    }
    
    
    /* span - 3 */
    
    
    .span-3{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 5vh;
    }
    
    .box-a{
        width: 90%;
        height: 30vh;
        position: absolute;
        top: 1062px;
    }
    
    
    /* text updation acording to set alarm */
    
    .text1{
        display: flex;
        width: 99%;
        height: 12vh;
        background-color: #9140B5;
        border-radius: 10px;
        /* border: 1px solid #EDEDED; */
            
    }
    
    #msg {
        display: flex;
        justify-content: center;
            color: white;
            text-align: left;
            align-items: center;
            padding-left: 20px;
            font-size: 38px;
            font-family: 'Baumans', cursive;
            font-weight: bold;
    }
    
    
    /* Button box  */
    
    .button{
        display: flex;
        border-radius: 4px;
        width: 48%;
        height: 10vh;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
        position: relative;
        top: 16px;
        color: whitesmoke;
    }
    
    .button:hover .hover-text {
        display: inline;
    }
    
    .button:hover .default-text {
        display: none;
    }
    
    .button .hover-text {
        display: none;
    }
    
    
    /* updation text in box  */
    
    .Updation{
        width: 50%;
        height: 16vh;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        border: 1px solid var(--unnamed-color-ededed);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        /* border: 1px solid #EDEDED; */
        border-radius: 10px;
        background-color: #9140B5;
        color: #F25CFE;
        /* opacity: 0.23; */
        position: relative;
        top: 10px;
        left: 10px;
    }
    
    .upText {
        position: relative;
        left: 25px;
        top: 30px;
        /* color: #F25CFE; */
        font-size: 18px;
        opacity: 1;
    }
    
    .align{
        display: flex;
    }
      
      /* Image box  */
    
    .box-b{
        width: 90%;
        height: 555px;
        position: absolute;
        top: -13vh;
    }
    
    .box-b img {
        position: relative;
        top: 611px;
        width: 100%;
        height: 100%;
    }
  }
  
  /* For mobile view media query  */

  @media screen and (max-width:767px) and (min-width:280px){
    .span-1{
        margin-left: 8%;
        padding: 20px;
    }
    
    .span-1 img {
        width: 250px;
    }
    
    
    
    
    .span-2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position:relative;
        gap: 5vh;
        
    }
    
    .box-1{
        /* display: flex; */
        border-radius: 10px;
        /* flex-direction: row; */
        background-color: aliceblue;
        gap: 50px;
        width: 91%;
        height: 350px;
        position: absolute;
        top: 317px;
    }
    
    
    
    .setBox1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .setBox1 img {
        width: 5vh;
        height: 5vh;
    }
    
    
    
    .setBox2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .setBox2 p {
        font-size: 18px;
    }
    
    .setBox3{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        width: 50%;
    }
    
    .setBox3 select {
        position: absolute;
    width: 90%;
    height: 4vh;
    }
    
    
    
    
    
    /* span -2  */
    
    
    
    .box-2{
        width: 90%;
        height: 350px;
        position: absolute;
        top: 0px;
    }
    
    .ckl1 {
        width: 90%;
        height: 80px;
        background-color: aliceblue;
        position: absolute;
        border-radius: 10px;
        opacity: 1;
        z-index: 5;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
    }
    
    
    
    .ckl1 p {
        color: #3D087B;
        font-size: 12px;
    }
    
    .clock-adj{
        display: flex;
        justify-content: center;
        font-size: 24px;
        position: absolute;
        top: 28px;
        padding: 0px;
        margin-left: 16px;
        font-weight: bold;
        color: #8A11BF;
    }

    .img-z{
        width: 100%;
    }
    
    .clock-name{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 64px;
        font-size: 18px;
        margin-left: 11px;
        font-weight: bold;
        color: #8A11BF;
    }
    
    .ckl2 {
        width: 80%;
        height: 85px;
        background-color: aliceblue;
        position: absolute;
        left: 38px;
        top: 57px;
        border-radius: 10px;
        opacity: 0.71;
        /* width: 379vh */
        z-index: 4;
    }
    
    .ckl3 {
        width: 70%;
        height: 85px;
        background-color: aliceblue;
        position: absolute;
        left: 55px;
        top: 73px;
        border-radius: 10px;
        opacity: 0.22;
        z-index: 3;
    }
    
    .ckl4 {
        width: 98%;
        height: 110px;
        background-color: aliceblue;
        position: absolute;
        right: -6px;
        top: 175px;
        border-radius: 10px;
        opacity: 1;
    }
    
    .text-1 {
        display: flex;
        color: #8E53F0; 
        justify-content: center;
        text-align: left;
        align-items: center;
        padding-left: 20px;
        font-size: 28px;
        font-family: 'Baumans', cursive;
        opacity: 1;
        font-weight: bold;
        /* position */
    }
    
    
    /* span - 3 */
    
    
    .span-3{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position:relative;
        gap: 5vh;
    }
    
    .box-a{
        width: 90%;
        height: 30vh;
        position: absolute;
        top: 1028px;
    }
    
    
    /* text updation acording to set alarm */
    
    .text1{
        display: flex;
        width: 100%;
        height: 12vh;
        background-color: #9140B5;
        border-radius: 10px;
        /* border: 1px solid #EDEDED; */
            
    }
    
    #msg {
        display: flex;
        justify-content: center;
            color: white;
            text-align: left;
            align-items: center;
            padding-left: 20px;
            font-size: 28px;
            font-family: 'Baumans', cursive;
            font-weight: bold;
    }
    
    
    /* Button box  */
    
    .button{
        display: flex;
        border-radius: 4px;
        width: 48%;
        height: 10vh;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
        position: relative;
        top: 16px;
        color: whitesmoke;
    }
    
    .button:hover .hover-text {
        display: inline;
    }
    
    .button:hover .default-text {
        display: none;
    }
    
    .button .hover-text {
        display: none;
    }
    
    
    /* updation text in box  */
    
    .Updation{
        /* width: 50%;
        height: 16vh; */
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        border: 1px solid var(--unnamed-color-ededed);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        /* border: 1px solid #EDEDED; */
        border-radius: 10px;
        background-color: #9140B5;
        color: #F25CFE;
        /* opacity: 0.23; */
        /* position: relative;
        top: 10px;
        left: 6px; */
        padding: 10px;
    }
    
    .upText {
        position: relative;
        left: 25px;
        top: 30px;
        /* color: #F25CFE; */
        font-size: 10px;
        opacity: 1;
    }
    
    .align{
        display: flex;
    }
      
      /* Image box  */
    
    .box-b{
        width: 90%;
        height: 320px;
        position: absolute;
        top: 78px;
    }
    
    .box-b img {
        position: absolute;
        top: 611px;
        width: 100%;
        height: 100%;
    }
  }
  